* {
  margin: 0;
  padding: 0;
}

.header {
  font-family: Roboto;
  background-color: #1f2937;
  color: white;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  justify-content: center;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.header-leftlinks{
  display: flex;
  gap: 20px;
}

#headerlogo{
  font-size: 24px;
}

 a{
  text-decoration: none;
  color: white;
  font-size: 18px;

}

.header-bottom{
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  gap: 100px;
  justify-content: end;
}

.header-bottom-left{
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.secondheader{
font-size: 48px;
color: #f9faf8;
}

#secondarytext{
  font-size: 18px;
  color: #e5e7eb;
}

.header-bottom-right{
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 250px;
}

.signup-button {
  background-color: #3882f6; 
  color: white;              
  padding: 10px 20px;        
  border: none;              
  border-radius: 8px;        
  font-size: 16px;
  cursor: pointer;
  width: 98px;
  display: flex; 
  justify-items: end;  
  margin-top: 20px;       
}

