* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #1f2937;
  color: white;
  padding: 24px 120px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

#headerlogo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.header-leftlinks {
  display: flex;
  gap: 24px;
}

.header-leftlinks a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-bottom-left {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.secondheader {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

#secondarytext {
  font-size: 18px;
  color: #e5e7eb;
}

.signup-button {
  background-color: #3882f6;
  color: white;
  padding: 10px 32px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  width: fit-content;
  cursor: pointer;
  font-weight: bold;
}

.header-bottom-right {
  width: 500px;
  height: 250px;
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.mid-white {
  margin-top: 100px;
  margin-bottom: 100px;
}

#random-info {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 50px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.square-group {
  display: flex;
  justify-content: center;
  align-content: center;

  gap: 30px;
}

.square {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: #3882f6;
  background-color: white;
  border-radius: 15px;
}

.square-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  max-width: 150px;
  text-align: center;
}

.gray-area {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

#insp {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  max-width: 700px;
  color: #1f2937;
}

#Thor {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px
}

#blue-back {
  background-color: #3882f6;
  border-radius: 5px;
  width: 700px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .blue-text-left{
    padding-right: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  #action{
    font-weight: bolder;
  }

  #there{
    font-weight: lighter;
    font-size:x-small;
  }

  .button-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 80px;
    border-color: white;
    border-style: solid;
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
  }